[Desktop Entry]
Name=Reaper
Comment=REAPER is a complete digital audio production application for computers, offering a full multitrack audio and MIDI recording, editing, processing, mixing and mastering toolset.
Type=Application
Categories=Audio;
Icon=main
